.course-cell {
  position: absolute;
  /* width: calc(100% - 1rem); */
  width: 100%;
  /* background-color: hsla(var(--primary), 0.8); */
  background-color: color-mix(in oklch, hsla(var(--primary), 0.75), hsla(var(--black)));
  /* background-color: hsla(var(--grey), 0.8); */
  /* background-color: hsla(var(--primary), 0.375); */
  /* color: hsla(var(--black)); */
  /* border: 1px solid hsla(var(--primary)); */
  color: hsla(var(--white));
  padding: 0.25rem;
  /* margin: 0.25rem; */
  line-height: 1rem;
  font-size: 0.875rem;
  /* text-overflow: clip; */
  border-radius: 0.5rem;
  /* margin: 0 1px; */
  overflow: hidden;
}

.course-cell:hover {
  /* background-color: hsla(var(--primary), 0.5); */
  /* background-color: hsla(var(--primary), 1); */
  background-color: color-mix(in oklch, hsla(var(--primary)), hsla(var(--black)));
}

.time-cell,
.empty-cell,
.weekday-cell {
  /* border-top: 1px hsla(var(--white)); */
  color: hsla(var(--muted_foreground));
  height: 30px
}

.time-cell {
  /* background-color: hsla(var(--grey), 0.125); */
  background-color: hsla(var(--grey), 0.25);
  padding-left: 0.5rem;
  padding-right: 0.25rem;
}

.tba-course-cell,
.picked-course-cell,
.not-picked-course-cell {
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.tba-course-cell {
  background-color: hsla(var(--red), 0.75);
}
.picked-course-cell {
  /* background-color: hsla(var(--primary), 0.75); */
  background-color: color-mix(in oklch, hsla(var(--primary), 0.75), hsla(var(--black)));
}
.not-picked-course-cell {
  background-color: hsla(var(--grey), 0.75);
}

.tba-course-cell:hover {
background-color: hsla(var(--red), 1);
}
.picked-course-cell:hover {
  /* background-color: hsla(var(--primary), 1); */
  background-color: color-mix(in oklch, hsla(var(--primary)), hsla(var(--black)));
}
.not-picked-course-cell:hover {
  background-color: hsla(var(--grey), 1);
}


.close-top-right-hover {
  /* background-color: hsla(var(--darker_black)); */
  background-color: transparent;
  color: hsla(var(--base05));
  position: absolute;
  right: 2px;
  top: 2px;
  /* border-radius: 0.125rem; */

  /* box-sizing: border-box; */
  /* border: 0 solid hsla(var(--base05)); */
  border-color: transparent;
  /* border-width: 1px; */
  /* border-radius: 0.375rem; */

  /* opacity: 0.7; */
  opacity: 0;
  outline: none;
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;

  cursor: pointer;
  pointer-events: auto;

  transition-property: opacity;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
}

.close-top-right-hover:hover {
  opacity: 1;
}
