.toolbar-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 4rem;
  padding: 0.5rem;
  background-color: hsla(var(--black));
  border-radius: 0.75rem;
  overflow: auto;
}

/* .toolbar-container > button { */
/* flex-grow: 1; */
/* } */
