.toolbar-container {
  display: flex;
  align-items: center;
  /* align-items: stretch; */
  gap: 0.5rem;
  height: 3.5rem;
  padding: 0.5rem;
  background-color: hsla(var(--black));
  /* border-radius: 0.75rem; */
  overflow: auto;
}

/* .toolbar-container > button { */
/* flex-grow: 1; */
/* } */
