/* .table-header > tr { */
/*   border-bottom-width: 1px; */
/*   border-width: 1px; */
/*   border: 1px solid white; */
/* } */
.table-container {
  position: relative;
  width: 100%;
  overflow: auto;
  border-radius: 0.75rem;
  height: calc(100vh - 4rem - 0.5rem - 2rem);
}

.table {
  border-collapse: collapse;
  width: 100%;
  caption-side: bottom;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

/* .table-header { */
/* } */

.table-body > tr:not(:last-child) {
  border-bottom: 1px solid hsla(var(--grey), 0.5);
}

.table-row:hover {
  background-color: hsla(var(--grey), 0.1);
  /* color: hsla(var(--primary)); */
}

.table-row[data-state=selected]:hover {
  background-color: hsla(var(--grey), 0.35);
  /* color: hsla(var(--primary)); */
  /* color: hsla(var(--secondary)); */
}

.table-row[data-state=selected] {
  background-color: hsla(var(--grey), 0.25);
  /* background-color: hsla(var(--catppuccin_lavender), 0.2); */
  /* color: hsla(var(--secondary)); */
}

.table-head {
  position: sticky;
  top: 0;
  /* background-color: hsla(var(--black)); */
  background-color: hsla(var(--darker_black));
  height: 3rem;
  /* padding-left: 1rem; */
  /* padding-right: 1rem; */
  /* padding-left: 0.5rem; */
  /* padding-right: 0.5rem; */
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  text-align: left;
  text-align: center;
  vertical-align: middle;
  color: hsla(var(--muted_foreground));
}

.table-head:hover {
  color: hsla(var(--yellow));
}

.table-cell {
  /* padding: 1rem; */
  /* padding: 0.5rem; */
  vertical-align: middle;
  text-align: center;
}

.table-caption {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-top: 1rem;
  color: hsla(var(--muted_foreground));
}
